.light {
    --md-sys-color-primary-rgb: 53, 97, 142;
    --md-sys-color-surface-tint-rgb: 53, 97, 142;
    --md-sys-color-on-primary-rgb: 255, 255, 255;
    --md-sys-color-primary-container-rgb: 209, 228, 255;
    --md-sys-color-on-primary-container-rgb: 0, 29, 53;
    --md-sys-color-secondary-rgb: 83, 95, 112;
    --md-sys-color-on-secondary-rgb: 255, 255, 255;
    --md-sys-color-secondary-container-rgb: 214, 228, 247;
    --md-sys-color-on-secondary-container-rgb: 15, 28, 43;
    --md-sys-color-tertiary-rgb: 106, 87, 120;
    --md-sys-color-on-tertiary-rgb: 255, 255, 255;
    --md-sys-color-tertiary-container-rgb: 242, 218, 255;
    --md-sys-color-on-tertiary-container-rgb: 37, 20, 50;
    --md-sys-color-error-rgb: 186, 26, 26;
    --md-sys-color-on-error-rgb: 255, 255, 255;
    --md-sys-color-error-container-rgb: 255, 218, 214;
    --md-sys-color-on-error-container-rgb: 65, 0, 2;
    --md-sys-color-background-rgb: 248, 249, 255;
    --md-sys-color-on-background-rgb: 25, 28, 32;
    --md-sys-color-surface-rgb: 248, 249, 255;
    --md-sys-color-on-surface-rgb: 25, 28, 32;
    --md-sys-color-surface-variant-rgb: 223, 226, 235;
    --md-sys-color-on-surface-variant-rgb: 66, 71, 78;
    --md-sys-color-outline-rgb: 115, 119, 127;
    --md-sys-color-outline-variant-rgb: 195, 199, 207;
    --md-sys-color-shadow-rgb: 0, 0, 0;
    --md-sys-color-scrim-rgb: 0, 0, 0;
    --md-sys-color-inverse-surface-rgb: 46, 49, 53;
    --md-sys-color-inverse-on-surface-rgb: 239, 240, 247;
    --md-sys-color-inverse-primary-rgb: 159, 202, 253;
    --md-sys-color-primary-fixed-rgb: 209, 228, 255;
    --md-sys-color-on-primary-fixed-rgb: 0, 29, 53;
    --md-sys-color-primary-fixed-dim-rgb: 159, 202, 253;
    --md-sys-color-on-primary-fixed-variant-rgb: 24, 73, 116;
    --md-sys-color-secondary-fixed-rgb: 214, 228, 247;
    --md-sys-color-on-secondary-fixed-rgb: 15, 28, 43;
    --md-sys-color-secondary-fixed-dim-rgb: 186, 200, 219;
    --md-sys-color-on-secondary-fixed-variant-rgb: 59, 72, 88;
    --md-sys-color-tertiary-fixed-rgb: 242, 218, 255;
    --md-sys-color-on-tertiary-fixed-rgb: 37, 20, 50;
    --md-sys-color-tertiary-fixed-dim-rgb: 214, 190, 229;
    --md-sys-color-on-tertiary-fixed-variant-rgb: 82, 64, 96;
    --md-sys-color-surface-dim-rgb: 216, 218, 224;
    --md-sys-color-surface-bright-rgb: 248, 249, 255;
    --md-sys-color-surface-container-lowest-rgb: 255, 255, 255;
    --md-sys-color-surface-container-low-rgb: 242, 243, 249;
    --md-sys-color-surface-container-rgb: 236, 238, 244;
    --md-sys-color-surface-container-high-rgb: 230, 232, 238;
    --md-sys-color-surface-container-highest-rgb: 225, 226, 232;
}

.dark {
    --md-sys-color-primary-rgb: 159, 202, 253;
    --md-sys-color-surface-tint-rgb: 159, 202, 253;
    --md-sys-color-on-primary-rgb: 0, 50, 87;
    --md-sys-color-primary-container-rgb: 24, 73, 116;
    --md-sys-color-on-primary-container-rgb: 209, 228, 255;
    --md-sys-color-secondary-rgb: 186, 200, 219;
    --md-sys-color-on-secondary-rgb: 37, 49, 64;
    --md-sys-color-secondary-container-rgb: 59, 72, 88;
    --md-sys-color-on-secondary-container-rgb: 214, 228, 247;
    --md-sys-color-tertiary-rgb: 214, 190, 229;
    --md-sys-color-on-tertiary-rgb: 59, 41, 72;
    --md-sys-color-tertiary-container-rgb: 82, 64, 96;
    --md-sys-color-on-tertiary-container-rgb: 242, 218, 255;
    --md-sys-color-error-rgb: 255, 180, 171;
    --md-sys-color-on-error-rgb: 105, 0, 5;
    --md-sys-color-error-container-rgb: 147, 0, 10;
    --md-sys-color-on-error-container-rgb: 255, 218, 214;
    --md-sys-color-background-rgb: 16, 20, 24;
    --md-sys-color-on-background-rgb: 225, 226, 232;
    --md-sys-color-surface-rgb: 16, 20, 24;
    --md-sys-color-on-surface-rgb: 225, 226, 232;
    --md-sys-color-surface-variant-rgb: 66, 71, 78;
    --md-sys-color-on-surface-variant-rgb: 195, 199, 207;
    --md-sys-color-outline-rgb: 141, 145, 153;
    --md-sys-color-outline-variant-rgb: 66, 71, 78;
    --md-sys-color-shadow-rgb: 0, 0, 0;
    --md-sys-color-scrim-rgb: 0, 0, 0;
    --md-sys-color-inverse-surface-rgb: 225, 226, 232;
    --md-sys-color-inverse-on-surface-rgb: 46, 49, 53;
    --md-sys-color-inverse-primary-rgb: 53, 97, 142;
    --md-sys-color-primary-fixed-rgb: 209, 228, 255;
    --md-sys-color-on-primary-fixed-rgb: 0, 29, 53;
    --md-sys-color-primary-fixed-dim-rgb: 159, 202, 253;
    --md-sys-color-on-primary-fixed-variant-rgb: 24, 73, 116;
    --md-sys-color-secondary-fixed-rgb: 214, 228, 247;
    --md-sys-color-on-secondary-fixed-rgb: 15, 28, 43;
    --md-sys-color-secondary-fixed-dim-rgb: 186, 200, 219;
    --md-sys-color-on-secondary-fixed-variant-rgb: 59, 72, 88;
    --md-sys-color-tertiary-fixed-rgb: 242, 218, 255;
    --md-sys-color-on-tertiary-fixed-rgb: 37, 20, 50;
    --md-sys-color-tertiary-fixed-dim-rgb: 214, 190, 229;
    --md-sys-color-on-tertiary-fixed-variant-rgb: 82, 64, 96;
    --md-sys-color-surface-dim-rgb: 16, 20, 24;
    --md-sys-color-surface-bright-rgb: 54, 57, 62;
    --md-sys-color-surface-container-lowest-rgb: 11, 14, 19;
    --md-sys-color-surface-container-low-rgb: 25, 28, 32;
    --md-sys-color-surface-container-rgb: 29, 32, 36;
    --md-sys-color-surface-container-high-rgb: 39, 42, 47;
    --md-sys-color-surface-container-highest-rgb: 50, 53, 58;
}

.light {
    --md-sys-color-primary: rgb(var(--md-sys-color-primary-rgb));
    --md-sys-color-surface-tint: rgb(var(--md-sys-color-surface-tint-rgb));
    --md-sys-color-on-primary: rgb(var(--md-sys-color-on-primary-rgb));
    --md-sys-color-primary-container: rgb(var(--md-sys-color-primary-container-rgb));
    --md-sys-color-on-primary-container: rgb(var(--md-sys-color-on-primary-container-rgb));
    --md-sys-color-secondary: rgb(var(--md-sys-color-secondary-rgb));
    --md-sys-color-on-secondary: rgb(var(--md-sys-color-on-secondary-rgb));
    --md-sys-color-secondary-container: rgb(var(--md-sys-color-secondary-container-rgb));
    --md-sys-color-on-secondary-container: rgb(var(--md-sys-color-on-secondary-container-rgb));
    --md-sys-color-tertiary: rgb(var(--md-sys-color-tertiary-rgb));
    --md-sys-color-on-tertiary: rgb(var(--md-sys-color-on-tertiary-rgb));
    --md-sys-color-tertiary-container: rgb(var(--md-sys-color-tertiary-container-rgb));
    --md-sys-color-on-tertiary-container: rgb(var(--md-sys-color-on-tertiary-container-rgb));
    --md-sys-color-error: rgb(var(--md-sys-color-error-rgb));
    --md-sys-color-on-error: rgb(var(--md-sys-color-on-error-rgb));
    --md-sys-color-error-container: rgb(var(--md-sys-color-error-container-rgb));
    --md-sys-color-on-error-container: rgb(var(--md-sys-color-on-error-container-rgb));
    --md-sys-color-background: rgb(var(--md-sys-color-background-rgb));
    --md-sys-color-on-background: rgb(var(--md-sys-color-on-background-rgb));
    --md-sys-color-surface: rgb(var(--md-sys-color-surface-rgb));
    --md-sys-color-on-surface: rgb(var(--md-sys-color-on-surface-rgb));
    --md-sys-color-surface-variant: rgb(var(--md-sys-color-surface-variant-rgb));
    --md-sys-color-on-surface-variant: rgb(var(--md-sys-color-on-surface-variant-rgb));
    --md-sys-color-outline: rgb(var(--md-sys-color-outline-rgb));
    --md-sys-color-outline-variant: rgb(var(--md-sys-color-outline-variant-rgb));
    --md-sys-color-shadow: rgb(var(--md-sys-color-shadow-rgb));
    --md-sys-color-scrim: rgb(var(--md-sys-color-scrim-rgb));
    --md-sys-color-inverse-surface: rgb(var(--md-sys-color-inverse-surface-rgb));
    --md-sys-color-inverse-on-surface: rgb(var(--md-sys-color-inverse-on-surface-rgb));
    --md-sys-color-inverse-primary: rgb(var(--md-sys-color-inverse-primary-rgb));
    --md-sys-color-primary-fixed: rgb(var(--md-sys-color-primary-fixed-rgb));
    --md-sys-color-on-primary-fixed: rgb(var(--md-sys-color-on-primary-fixed-rgb));
    --md-sys-color-primary-fixed-dim: rgb(var(--md-sys-color-primary-fixed-dim-rgb));
    --md-sys-color-on-primary-fixed-variant: rgb(var(--md-sys-color-on-primary-fixed-variant-rgb));
    --md-sys-color-secondary-fixed: rgb(var(--md-sys-color-secondary-fixed-rgb));
    --md-sys-color-on-secondary-fixed: rgb(var(--md-sys-color-on-secondary-fixed-rgb));
    --md-sys-color-secondary-fixed-dim: rgb(var(--md-sys-color-secondary-fixed-dim-rgb));
    --md-sys-color-on-secondary-fixed-variant: rgb(var(--md-sys-color-on-secondary-fixed-variant-rgb));
    --md-sys-color-tertiary-fixed: rgb(var(--md-sys-color-tertiary-fixed-rgb));
    --md-sys-color-on-tertiary-fixed: rgb(var(--md-sys-color-on-tertiary-fixed-rgb));
    --md-sys-color-tertiary-fixed-dim: rgb(var(--md-sys-color-tertiary-fixed-dim-rgb));
    --md-sys-color-on-tertiary-fixed-variant: rgb(var(--md-sys-color-on-tertiary-fixed-variant-rgb));
    --md-sys-color-surface-dim: rgb(var(--md-sys-color-surface-dim-rgb));
    --md-sys-color-surface-bright: rgb(var(--md-sys-color-surface-bright-rgb));
    --md-sys-color-surface-container-lowest: rgb(var(--md-sys-color-surface-container-lowest-rgb));
    --md-sys-color-surface-container-low: rgb(var(--md-sys-color-surface-container-low-rgb));
    --md-sys-color-surface-container: rgb(var(--md-sys-color-surface-container-rgb));
    --md-sys-color-surface-container-high: rgb(var(--md-sys-color-surface-container-high-rgb));
    --md-sys-color-surface-container-highest: rgb(var(--md-sys-color-surface-container-highest-rgb));
}

.dark {
    --md-sys-color-primary: rgb(var(--md-sys-color-primary-rgb));
    --md-sys-color-surface-tint: rgb(var(--md-sys-color-surface-tint-rgb));
    --md-sys-color-on-primary: rgb(var(--md-sys-color-on-primary-rgb));
    --md-sys-color-primary-container: rgb(var(--md-sys-color-primary-container-rgb));
    --md-sys-color-on-primary-container: rgb(var(--md-sys-color-on-primary-container-rgb));
    --md-sys-color-secondary: rgb(var(--md-sys-color-secondary-rgb));
    --md-sys-color-on-secondary: rgb(var(--md-sys-color-on-secondary-rgb));
    --md-sys-color-secondary-container: rgb(var(--md-sys-color-secondary-container-rgb));
    --md-sys-color-on-secondary-container: rgb(var(--md-sys-color-on-secondary-container-rgb));
    --md-sys-color-tertiary: rgb(var(--md-sys-color-tertiary-rgb));
    --md-sys-color-on-tertiary: rgb(var(--md-sys-color-on-tertiary-rgb));
    --md-sys-color-tertiary-container: rgb(var(--md-sys-color-tertiary-container-rgb));
    --md-sys-color-on-tertiary-container: rgb(var(--md-sys-color-on-tertiary-container-rgb));
    --md-sys-color-error: rgb(var(--md-sys-color-error-rgb));
    --md-sys-color-on-error: rgb(var(--md-sys-color-on-error-rgb));
    --md-sys-color-error-container: rgb(var(--md-sys-color-error-container-rgb));
    --md-sys-color-on-error-container: rgb(var(--md-sys-color-on-error-container-rgb));
    --md-sys-color-background: rgb(var(--md-sys-color-background-rgb));
    --md-sys-color-on-background: rgb(var(--md-sys-color-on-background-rgb));
    --md-sys-color-surface: rgb(var(--md-sys-color-surface-rgb));
    --md-sys-color-on-surface: rgb(var(--md-sys-color-on-surface-rgb));
    --md-sys-color-surface-variant: rgb(var(--md-sys-color-surface-variant-rgb));
    --md-sys-color-on-surface-variant: rgb(var(--md-sys-color-on-surface-variant-rgb));
    --md-sys-color-outline: rgb(var(--md-sys-color-outline-rgb));
    --md-sys-color-outline-variant: rgb(var(--md-sys-color-outline-variant-rgb));
    --md-sys-color-shadow: rgb(var(--md-sys-color-shadow-rgb));
    --md-sys-color-scrim: rgb(var(--md-sys-color-scrim-rgb));
    --md-sys-color-inverse-surface: rgb(var(--md-sys-color-inverse-surface-rgb));
    --md-sys-color-inverse-on-surface: rgb(var(--md-sys-color-inverse-on-surface-rgb));
    --md-sys-color-inverse-primary: rgb(var(--md-sys-color-inverse-primary-rgb));
    --md-sys-color-primary-fixed: rgb(var(--md-sys-color-primary-fixed-rgb));
    --md-sys-color-on-primary-fixed: rgb(var(--md-sys-color-on-primary-fixed-rgb));
    --md-sys-color-primary-fixed-dim: rgb(var(--md-sys-color-primary-fixed-dim-rgb));
    --md-sys-color-on-primary-fixed-variant: rgb(var(--md-sys-color-on-primary-fixed-variant-rgb));
    --md-sys-color-secondary-fixed: rgb(var(--md-sys-color-secondary-fixed-rgb));
    --md-sys-color-on-secondary-fixed: rgb(var(--md-sys-color-on-secondary-fixed-rgb));
    --md-sys-color-secondary-fixed-dim: rgb(var(--md-sys-color-secondary-fixed-dim-rgb));
    --md-sys-color-on-secondary-fixed-variant: rgb(var(--md-sys-color-on-secondary-fixed-variant-rgb));
    --md-sys-color-tertiary-fixed: rgb(var(--md-sys-color-tertiary-fixed-rgb));
    --md-sys-color-on-tertiary-fixed: rgb(var(--md-sys-color-on-tertiary-fixed-rgb));
    --md-sys-color-tertiary-fixed-dim: rgb(var(--md-sys-color-tertiary-fixed-dim-rgb));
    --md-sys-color-on-tertiary-fixed-variant: rgb(var(--md-sys-color-on-tertiary-fixed-variant-rgb));
    --md-sys-color-surface-dim: rgb(var(--md-sys-color-surface-dim-rgb));
    --md-sys-color-surface-bright: rgb(var(--md-sys-color-surface-bright-rgb));
    --md-sys-color-surface-container-lowest: rgb(var(--md-sys-color-surface-container-lowest-rgb));
    --md-sys-color-surface-container-low: rgb(var(--md-sys-color-surface-container-low-rgb));
    --md-sys-color-surface-container: rgb(var(--md-sys-color-surface-container-rgb));
    --md-sys-color-surface-container-high: rgb(var(--md-sys-color-surface-container-high-rgb));
    --md-sys-color-surface-container-highest: rgb(var(--md-sys-color-surface-container-highest-rgb));
}
